@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fff;
  color: #1c1917;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 200;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.25em;
}
p {
  margin: 1em 0;
}
button,
.btn {
  background: #1c1917;
  padding: 1em 2em;
  cursor: pointer;
  color: #fff;
  font-size: 1.125rem;
}
.btn:hover {
  background: #18181b;
}
